header{
    Background-color:#fbfaf5;
    padding: 30px 50px 50px 30px;
    font-family: Helvetica Neue, sans-serif;
}
body{ font-family:Helvetica Neue, san-seriv;}



ul{
    margin: 0; 
    padding-left: 0px;
    padding-bottom: 30px;
    list-style-type: none;
}

Li{display: inline-block;
padding-left:0px;
padding-right: 30px;}


.My-Journey{)
}

.timeline{}