header{
    Background-color:#fbfaf5;
    padding: 20px 50px 100px 50px;
    font-family: Helvetica Neue, sans-serif;}

body{ font-family:Helvetica Neue, sans-serif;}

nav{display: flex;align-items: center; justify-content: space-around;font-weight:500; }

h1{font-size: 35px; font-weight:500}
h2{font-size: 25px; font-weight:500}


p{font-family:Helvetica; line-height:2rem;}

p.handshake{margin-top:-20px;}
h1.kiaora {margin-top:50px;}
ul.navbarheader{ margin: 0; padding-left: 0px; padding-bottom: 30px; list-style-type: none;}
ul.navbarheader Li{display: inline-block; padding-left:0px; padding-right: 30px;}

img.center-align {display: block; margin-left:auto; margin-right:auto; margin-bottom:-20px; margin-top:-100px; width:50%; width: 200px; height:auto;}

a {position: relative; text-decoration:none; color:black;}
a:after{content:""; position: absolute; background-color:#dbc035; height:3px;width:0;left:0;bottom:-10px; transition:0.1s }
a:hover:after {width:100%;}

section.box1and2 {display:flex;width:100%;margin:2px;border-top:1px solid lightgray;padding-top:20px;}

div.box2 {border-left:1px solid lightgray;padding-left:20px;}

section.box3and4 {display:flex;width:100%;margin:2px;border-top:1px solid lightgray;padding-top:20px; }

div.box4 {border-left:1px solid lightgray;padding-left:20px}